{% extends "::layout/layoutAdmin.html.twig" %}

{% block body -%}
    <h1>Rooms edit</h1>


    <form  name="kvartiri_kvartiribundle_rooms" action="{{path('adminRooms_update',{'id': entity.id, 'hotelId': hotelId})}}" method="POST">

        {{ form_label( edit_form.roomType) }}
        {{ form_widget( edit_form.roomType) }}
        {{ form_errors( edit_form.roomType) }}


        {{ form_label( edit_form.guestsMax) }}
        {{ form_widget( edit_form.guestsMax) }}
        {{ form_errors( edit_form.guestsMax) }}

        {{ form_label( edit_form.extraBed) }}
        {{ form_widget( edit_form.extraBed) }}
        {{ form_errors( edit_form.extraBed) }}

        {{ form_label( edit_form.hotel) }}
        {{ form_widget( edit_form.hotel) }}
        {{ form_errors( edit_form.hotel) }}

        {% for item in entity.roomseasons %}
            {% for value in item.hotelseasons %}
            <p><strong>{{value.name}}</strong></p>
            <input type="hidden" name="hotelseasons[]" value="{{value.id}}" />

            <label>Prix</label><input type="text" name="price[]" value="{{item.price}}" />
                    {% endfor %}

        {% endfor %}
        {{ form(edit_form) }}

        {{ form_rest(edit_form) }}
        <br>


    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('adminRooms', { 'hotelId': hotelId }) }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}





{#{% block body -%}#}
    {#<h1>Rooms edit</h1>#}

    {#{{ form(edit_form) }}#}

        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('adminRooms') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
{#</ul>#}
{#{% endblock %}#}


{#{% block javascripts %}#}
    {#<script type="text/javascript">#}

        {#$(document).ready(function () {#}

            {#// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.#}
            {#var $container = $('div#kvartiri_kvartiribundle_rooms_roomSeasons');#}

            {#// On ajoute un lien pour ajouter une nouvelle catégorie#}
            {#var $lienAjout = $('<a href="#" id="ajout_adresse" class="btn btn-info">Ajouter de nouveaux media</a>');#}
            {#$container.append($lienAjout);#}

            {#// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.#}
            {#$lienAjout.click(function (e) {#}
                {#if (index <= 9) {#}
                    {#ajouterAdresse($container);#}
                {#} else if (index === 10) {#}

                    {#var $lienlimit = $('<h1 class="btn btn-info">vous avez droit a 3 images </h1>');#}
                    {#$container.append($lienlimit);#}
                    {#$lienAjout.remove();#}


                {#}#}
                {#e.preventDefault(); // évite qu'un # apparaisse dans l'URL#}
                {#return false;#}
            {#});#}

            {#// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement#}
            {#var index = $container.find(':input').length;#}

            {#// On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).#}
            {#if (index === 0) {#}

                {#ajouterAdresse($container);#}

            {#} else {#}
                {#// Pour chaque catégorie déjà existante, on ajoute un lien de suppression#}
                {#$container.children('div').each(function () {#}
                    {#ajouterLienSuppression($(this));#}
                {#});#}
            {#}#}

            {#// La fonction qui ajoute un formulaire Categorie#}
            {#function ajouterAdresse($container) {#}
                {#// Dans le contenu de l'attribut « data-prototype », on remplace :#}
                {#// - le texte "__name__label__" qu'il contient par le label du champ#}
                {#// - le texte "__name__" qu'il contient par le numéro du champ#}
                {#var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Champs n°' + (index + 1))#}
                        {#.replace(/__name__/g, index));#}

                {#// On ajoute au prototype un lien pour pouvoir supprimer la catégorie#}
                {#ajouterLienSuppression($prototype, index);#}

                {#// On ajoute le prototype modifié à la fin de la balise <div>#}
                {#$container.append($prototype);#}

                {#// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro#}
                {#index++;#}
            {#}#}

            {#// La fonction qui ajoute un lien de suppression d'une categorie#}
            {#function ajouterLienSuppression($prototype, index) {#}
                {#// Création du lien#}
                {#$lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');#}

                {#// Ajout du lien#}
                {#$prototype.append($lienSuppression);#}

                {#// Ajout du listener sur le clic du lien#}
                {#$lienSuppression.click(function (e) {#}

                    {#$prototype.remove();#}
                    {#e.preventDefault(); // évite qu'un # apparaisse dans l#}
                    {#return false;#}
                {#});#}
            {#}#}
        {#});#}

    {#</script>#}
{#{% endblock %}#}
