{% extends "::layout/layoutAdmin.html.twig" %}


{% block body -%}
    <h1>Rooms list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Roomtype</th>
            <th>Guestsmax</th>
            <th>Extrabed</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adminRooms_show', { 'id': entity.id, 'hotelId': hotelId }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.roomType }}</td>
                <td>{{ entity.guestsMax }}</td>
                <td>{{ entity.extraBed }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminRooms_show', { 'id': entity.id, 'hotelId': hotelId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminRooms_edit', { 'id': entity.id, 'hotelId': hotelId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            {#<a href="{{ path('adminRooms_new') }}">#}
            <a href="{{ path('adminRooms_new', { 'hotelId': hotelId }) }}">
                Create a new Room
            </a>
        </li>
    </ul>
{% endblock %}









{#{% block body -%}#}
    {#<h1>Rooms list</h1>#}

    {#<table class="records_list">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Roomtype</th>#}
                {#<th>Guestsmax</th>#}
                {#<th>Extrabed</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for entity in entities %}#}
            {#<tr>#}
                {#<td><a href="{{ path('adminRooms_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                {#<td>{{ entity.roomType }}</td>#}
                {#<td>{{ entity.guestsMax }}</td>#}
                {#<td>{{ entity.extraBed }}</td>#}
                {#<td>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="{{ path('adminRooms_show', { 'id': entity.id }) }}">show</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('adminRooms_edit', { 'id': entity.id }) }}">edit</a>#}
                    {#</li>#}
                {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('adminRooms_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {#{% endblock %}#}
