{% extends "::layout/layout.html.twig" %}

{% block body -%}
    <h1>ClientsRequests list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Request</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Numbernights</th>
                <th>Hotelid</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Gsm</th>
                <th>Email</th>
                <th>Fax</th>
                <th>Number Rooms</th>
                <th>Room Id</th>
                <th>Room Type</th>
                <th>Number Beds</th>
                <th>Number Adults</th>
                <th>Number Children</th>
                <th>Children Age</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('clientsrequests_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateRequest %}{{ entity.dateRequest|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.checkIn %}{{ entity.checkIn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.checkOut %}{{ entity.checkOut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numberNights }}</td>
                <td>{{ entity.hotelId }}</td>
                <td>{{ entity.breakfast }}</td>
                <td>{{ entity.lunch }}</td>
                <td>{{ entity.dinner }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.gsm }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.fax }}</td>
                {% for roomRequest in entity.roomsRequests %}
                    <td>{{ roomRequest.numberRooms }}</td>
                    <td>{{ roomRequest.roomId }}</td>
                    <td>{{ roomRequest.roomType }}</td>
                    <td>{{ roomRequest.numberBeds }}</td>
                    <td>{{ roomRequest.numberAdults }}</td>
                    <td>{{ roomRequest.numberChildren }}</td>
                    <td>{{ roomRequest.childrenAge }}</td>

                    {#{{ dump(roomRequest) }}#}
                {% endfor %}
                <td></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('clientsrequests_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('clientsrequests_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('clientsrequests_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
